eval "$(mise activate zsh)"

# Initialize the completion system
autoload -Uz compinit && compinit

# Case insensitive matching
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'

export PATH="$HOME/.local/bin:$PATH"

eval "$(starship init zsh)"

alias ls="eza --icons --git"
{{ if eq .chezmoi.os "linux" -}}
alias cat="batcat"
{{ else -}}
alias cat="bat"
{{ end -}}

{{ if not .is_server -}}
if [[ -z "$ZELLIJ" ]]; then
  fastfetch-random
  zellij --layout agent
fi
{{ end -}}

export _ZO_DOCTOR=0
eval "$(zoxide init zsh --cmd cd)"
