[user]
	email = CHANGEME
	name = Michael Tang
[push]
	autoSetupRemote = true
[alias]
	cleanup = !git fetch -p && git branch -vv | awk '/: gone] / {print $1}' | xargs git branch -d
	co = checkout
	st = status
[pull]
	rebase = true
