layout { pane size=1 borderless=true { plugin location="zellij:tab-bar"; }; pane split_direction="vertical" { pane name="Terminal" cwd="{{ .projects_dir }}"; pane name="Claude" size="35%" cwd="{{ .projects_dir }}"; }; pane size=2 borderless=true { plugin location="zellij:status-bar"; }; }
